<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Tests Suite" verbose="2" parallel="false">
    <listeners>
        <listener class-name="org.testng.reporters.EmailableReporter2"/>
        <listener class-name="org.testng.reporters.XMLReporter"/>
    </listeners>
    <test name="Login with Excel">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>
</suite>
